<app-filter-bar [darkTheme]="darkTheme"></app-filter-bar>
<div class="flex flex-col md:flex-row gap-1 mb-5 text-black" [ngClass]="{'dark' : darkTheme}">
  <div class="h-full md:w-1/5 border-[1px] border-black p-2" [ngClass]="{'!border-white' : darkTheme}">
    <app-filter-main [darkTheme]="darkTheme"></app-filter-main>
  </div>
  <div class="md:p-0 md:w-4/5 text-white "
    [ngClass]="{'lg:!w-full' : !copyProjects,'!flex' : copyProjects.length <= 0,'!items-center' : copyProjects.length <= 0,'!justify-center' : copyProjects.length <= 0}">
    <div class="text-sm md:text-lg gap-2 md:h-1/2 grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3"
      *ngIf="copyProjects.length > 0; else elseCopyProjectLength">
      <div *ngFor="let item of copyProjects; let index = index; trackBy: trackByFn"
        class="w-full group border-[1px] border-black text-black flex flex-col md:h-[500px] transition-all duration-300 hover:border-red-700"
        [ngClass]="{'!text-white' : darkTheme, 'hover:!border-yellow-400' : darkTheme , '!border-white' : darkTheme}">

        <div class="h-2/5 sm:h-1/3 flex items-center justify-center flex-col gap-5">
          <div class="flex w-full items-center gap-1 px-2 justify-between">
            <div class="flex w-full items-center gap-1 px-2">
              <p>Hosting : </p>
              <div class="w-4 h-4 bg-green-500 rounded-full"
                [ngClass]="{ '!bg-red-500': item.status === 'Offline','!bg-yellow-500': item.status === 'Continues' }">
              </div>
            </div>
            <div class="relative">
              <p>{{ like[index] ? item.numberOfLikes + 1 : item.numberOfLikes }}
              </p>
            </div>

            <svg (click)="likeUpdate(index)" class='fontawesomesvg' fill="gray" width="35"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"><!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
                [ngClass]="{'!fill-red-700' : like[index]}" />
            </svg>

          </div>
          <h1 class="transition-all duration-300 group-hover:text-red-700 text-center text-xl"
            [ngClass]="{'group-hover:!text-yellow-400' : darkTheme}">~ {{ item.name }} ~</h1>
        </div>

        <div class="h-2/5 sm:h-2/3 md:justify-center flex flex-col p-2">
          <p class="text-red-700" [ngClass]="{'!text-yellow-400' : darkTheme}">Project Thema : <span class="text-black"
              [ngClass]="{'!text-white' : darkTheme}">{{ item.thema }}</span></p>
          <p class="text-red-700" [ngClass]="{'!text-yellow-400' : darkTheme}">Languages and Frameworks :
          <div class="grid grid-cols-3 gap-2 text-center">
            <div *ngFor="let elements of item.frameworks">
              <p class="text-orange-500 rounded-lg border-[1px] border-black" [ngClass]="{'!border-white' : darkTheme}">
                {{ elements }}</p>
            </div>
          </div>
          <p class="text-red-700" [ngClass]="{'!text-yellow-400' : darkTheme}">Used Packages : <span class="!text-black"
              [ngClass]="{'!text-white' : darkTheme}">{{ item.packages }}</span></p>
        </div>

        <div class="flex h-1/5 justify-center mt-5 md:mt-0 items-center md:mb-0">
          <a class="cursor-pointer" href="https://www.volkanfilazi.at/shop" target="_blank">
            <button
              class="border-[1px] border-red-700 rounded-lg min-w-[150px] p-1 transition-all duration-300 hover:bg-red-700 hover:text-white"
              [ngClass]="{'!border-yellow-400' : darkTheme, '!text-white' : darkTheme, 'hover:!bg-yellow-400' : darkTheme, 'hover:!text-black' : darkTheme}"
              *ngIf="item.name === 'Shop'">Live Preview</button>
          </a>
          <a class="cursor-pointer" href="https://www.volkanfilazi.at/intelligencesquare" target="_blank">
            <button
              class="border-[1px] border-red-700 rounded-lg min-w-[150px] p-1 transition-all duration-300 hover:bg-red-700 hover:text-white"
              [ngClass]="{'!border-yellow-400' : darkTheme, '!text-white' : darkTheme, 'hover:!bg-yellow-400' : darkTheme, 'hover:!text-black' : darkTheme}"
              *ngIf="item.name === 'Intelligence Square'">Live Preview
            </button>
          </a>

          <a class="cursor-pointer" href="https://github.com/volkanfilazi/DeskBookingSystem" target="_blank">
            <button
              class="border-[1px] border-red-700 rounded-lg min-w-[150px] p-1 transition-all duration-300 hover:bg-red-700 hover:text-white"
              [ngClass]="{'!border-yellow-400' : darkTheme, '!text-white' : darkTheme, 'hover:!bg-yellow-400' : darkTheme, 'hover:!text-black' : darkTheme}"
              *ngIf="item.name === 'Desk Booking System'">Github</button>
          </a>
          <a class="cursor-pointer" href="https://www.volkanfilazi.at/" target="_blank">
            <button
              class="border-[1px] border-red-700 rounded-lg min-w-[150px] p-1 transition-all duration-300 hover:bg-red-700 hover:text-white"
              [ngClass]="{'!border-yellow-400' : darkTheme, '!text-white' : darkTheme, 'hover:!bg-yellow-400' : darkTheme, 'hover:!text-black' : darkTheme}"
              *ngIf="item.name === 'Second Cv'">Live Preview</button>
          </a>
          <button
            class="border-[1px] border-red-700 rounded-lg min-w-[150px] p-1 transition-all duration-300 hover:bg-red-700 hover:text-white"
            [ngClass]="{'!border-yellow-400' : darkTheme, '!text-white' : darkTheme, 'hover:!bg-yellow-400' : darkTheme, 'hover:!text-black' : darkTheme}"
            *ngIf="item.name === 'Encryption'" disabled>Coming Soon</button>
          <a class="cursor-pointer" href="https://github.com/volkanfilazi/Android-Kotlin-Codagram" target="_blank">
            <button
              class="border-[1px] border-red-700 rounded-lg min-w-[150px] p-1 transition-all duration-300 hover:bg-red-700 hover:text-white"
              [ngClass]="{'!border-yellow-400' : darkTheme, '!text-white' : darkTheme, 'hover:!bg-yellow-400' : darkTheme, 'hover:!text-black' : darkTheme}"
              *ngIf="item.name === 'Codagram'">Github</button>
          </a>
        </div>
      </div>
    </div>
    <ng-template #elseCopyProjectLength
      class="w-full flex flex-col items-center lg:w-4/5 md:p-0 text-white text-sm md:text-lg gap-2">
      <p class="w-full text-center">Project not found</p>
      <p class="w-full text-center">Check the selected filters or try other search criteria.</p>
    </ng-template>
  </div>


</div>

<style>
  p {
    margin: 0;
  }

  :disabled {
    opacity: 0.30;
    pointer-events: none
  }
</style>