<div
      class="w-full lg:w-4/5 md:p-0 text-white text-sm md:text-lg gap-2 md:h-1/2 grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3"
      [ngClass]="{'lg:!w-full' : !copyProjects,'!flex' : copyProjects.length <= 0,'!items-center' : copyProjects.length <= 0,'!justify-center' : copyProjects.length <= 0}">
      <div *ngIf="copyProjects.length > 0">
        <div
        *ngFor="let item of copyProjects; let index = index"
        class="w-full group border-[1px] flex flex-col md:h-[500px] transition-all duration-300 hover:border-yellow-400">

        <div class="h-2/5 sm:h-1/3 flex items-center justify-center flex-col gap-5">
          <div class="flex w-full items-center gap-1 px-2 justify-between">
            <div class="flex w-full items-center gap-1 px-2">
              <p>Hosting : </p>
              <div class="w-4 h-4 bg-green-500 rounded-full"
                [ngClass]="{ '!bg-red-500': item.status === 'Offline','!bg-yellow-500': item.status === 'Continues' }">
              </div>
            </div>
            <div class="relative">
              <p :class="{'!text-black' : darkmode}">{{ like[index] ? item.numberOfLikes + 1 : item.numberOfLikes }}
              </p>
            </div>
            <svg (click)="likeUpdate(index)" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><mask id="ipSLike0"><path fill="#fff" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8Z"/></mask><path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipSLike0)"/></svg>
          </div>
          <h1 class="transition-all duration-300 group-hover:text-yellow-400 text-center text-xl">~ {{ item.name }} ~</h1>
        </div>

        <div class="h-2/5 sm:h-2/3 md:justify-center flex flex-col p-2">
          <p class="text-yellow-400">Project Thema : <span class="text-white">{{ item.thema }}</span></p>
          <p class="text-yellow-400">Languages and Frameworks :
          <div class="grid grid-cols-3 gap-2 text-center">
            <div *ngFor="let elements of item.frameworks">
              <p class="text-orange-500 rounded-lg border-[1px]">{{ elements }}</p>
            </div>
          </div>
          <p class="text-yellow-400">Used Packages : <span class="text-white">{{ item.packages }}</span></p>
        </div>

        <div class="flex h-1/5 justify-center mt-5 md:mt-0 items-center md:mb-0">
          <button v-if="items.name === 'Shop'">Live Preview</button>
          <button v-if="items.name === 'Intelligence Square'">Live Preview
          </button>

          <a href="https://github.com/volkanfilazi/DeskBookingSystem" target="_blank">
            <button v-if="items.name === 'Desk Booking System'">Github</button>
          </a>
          <button v-if="items.name === 'Second Cv'" disabled>Coming Soon
          </button>
          <button v-if="items.name === 'Encryption'" disabled>Coming Soon</button>
          <a href="https://github.com/volkanfilazi/Android-Kotlin-Codagram" target="_blank">
            <button v-if="items.name === 'Codagram'">Github</button>
          </a>
        </div>
      </div>
      </div>
      <div v-else class="w-full flex flex-col items-center lg:w-4/5 md:p-0 text-white text-sm md:text-lg gap-2">
        <p class="w-full text-center">Project not found</p>
        <p class="w-full text-center">Check the selected filters or try other search criteria.</p>
      </div>
    </div>