<div [ngClass]="{'dark' : darkTheme, 'border-white' : darkTheme}"
  class="flex w-full z-[100] min-h-[35px] items-center border-b-[1px] border-red-700 bg-white lg:px-40 md:z-40 justify-end font-bold">
  <div class="p-1 md:pb-2 md:pt-2 hidden md:flex justify-between w-full items-center relative">
    <app-project-icon [darkTheme]="darkTheme"></app-project-icon>
    <ul class="hidden md:flex gap-2 items-center">
      <div *ngFor="let navbar of navbarElements">
        <a class="scroll-smooth cursor-pointer transition-all duration-300 border-b-[2px] border-transparent hover:border-red-700 hover:transition-all hover:duration-300 p-1"
          [ngClass]="{'hover:!border-yellow-400' : darkTheme}" :href="navbar.link">{{ navbar.name }}</a>
      </div>
      <div class="flex items-center justify-start">
        <button (click)="toggleDarkTheme()" [ngClass]="{'hidden' : !darkTheme}">
          <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 256 256">
            <path fill="yellow"
              d="M120 40V16a8 8 0 0 1 16 0v24a8 8 0 0 1-16 0Zm8 24a64 64 0 1 0 64 64a64.07 64.07 0 0 0-64-64Zm-69.66 5.66a8 8 0 0 0 11.32-11.32l-16-16a8 8 0 0 0-11.32 11.32Zm0 116.68l-16 16a8 8 0 0 0 11.32 11.32l16-16a8 8 0 0 0-11.32-11.32ZM192 72a8 8 0 0 0 5.66-2.34l16-16a8 8 0 0 0-11.32-11.32l-16 16A8 8 0 0 0 192 72Zm5.66 114.34a8 8 0 0 0-11.32 11.32l16 16a8 8 0 0 0 11.32-11.32ZM48 128a8 8 0 0 0-8-8H16a8 8 0 0 0 0 16h24a8 8 0 0 0 8-8Zm80 80a8 8 0 0 0-8 8v24a8 8 0 0 0 16 0v-24a8 8 0 0 0-8-8Zm112-88h-24a8 8 0 0 0 0 16h24a8 8 0 0 0 0-16Z" />
          </svg>
        </button>
        <button (click)="toggleDarkTheme()" [ngClass]="{'hidden' : darkTheme}">
          <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 16 16">
            <path fill="black"
              d="M6 .278a.768.768 0 0 1 .08.858a7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277c.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316a.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71C0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
          </svg>
        </button>
      </div>
    </ul>
  </div>

  <div class="p-1 md:pb-2 md:pt-2 md:hidden grid grid-cols-3 items-center w-full relative">
    <div class="flex items-center justify-start">
      <button (click)="toggleDarkTheme()" [ngClass]="{'hidden' : !darkTheme}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 256 256">
          <path fill="yellow"
            d="M120 40V16a8 8 0 0 1 16 0v24a8 8 0 0 1-16 0Zm8 24a64 64 0 1 0 64 64a64.07 64.07 0 0 0-64-64Zm-69.66 5.66a8 8 0 0 0 11.32-11.32l-16-16a8 8 0 0 0-11.32 11.32Zm0 116.68l-16 16a8 8 0 0 0 11.32 11.32l16-16a8 8 0 0 0-11.32-11.32ZM192 72a8 8 0 0 0 5.66-2.34l16-16a8 8 0 0 0-11.32-11.32l-16 16A8 8 0 0 0 192 72Zm5.66 114.34a8 8 0 0 0-11.32 11.32l16 16a8 8 0 0 0 11.32-11.32ZM48 128a8 8 0 0 0-8-8H16a8 8 0 0 0 0 16h24a8 8 0 0 0 8-8Zm80 80a8 8 0 0 0-8 8v24a8 8 0 0 0 16 0v-24a8 8 0 0 0-8-8Zm112-88h-24a8 8 0 0 0 0 16h24a8 8 0 0 0 0-16Z" />
        </svg>
      </button>
      <button (click)="toggleDarkTheme()" [ngClass]="{'hidden' : darkTheme}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 16 16">
          <path fill="black"
            d="M6 .278a.768.768 0 0 1 .08.858a7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277c.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316a.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71C0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
        </svg>
      </button>
    </div>
    <app-project-icon [darkTheme]="darkTheme"></app-project-icon>
    <div class="flex md:hidden items-center justify-end text-red-700">
      <input type="checkbox" id="menu-toggle" class="relative sr-only peer" checked>
      <label class="text-right text-red-700 w-20" for="menu-toggle" [ngClass]="{'text-white' : darkTheme}">Menu</label>
      <ul
        class="flex absolute right-0 z-50 top-[52px] peer-checked:hidden bg-white flex-col text-red-700 gap-1 px-5 border-b-[1px] border-l-[1px] border-red-700"
        [ngClass]="{'!dark' : darkTheme,'!border-white' : darkTheme, 'dark' : darkTheme}">
         <div *ngFor="let navbar of navbarElements">
        <a class="scroll-smooth cursor-pointer transition-all duration-300 border-b-[1px] border-transparent hover:border-yellow-400 hover:transition-all hover:duration-300 p-1"
          :class="{'hover:!border-black' : darkmode}" :href="navbar.link">{{ navbar.name }}</a>
      </div>
      </ul>
    </div>
  </div>


</div>
