<div class="flex flex-col justify-center items-center">
  <div class="w-[100px] md:w-[150px] flex justify-end">
    <div class="border-r-[2px] border-t-[2px]  w-3 h-3 md:w-5 md:h-5 border-red-600"
      [ngClass]="{'!border-yellow-400' : darkTheme}"></div>
  </div>
  <p class="font-bold text-[12px] md:text-[16px]">Volkan Filazi</p>
  <div class="w-[100px] md:w-[150px] flex justify-start">
    <div class="border-l-[2px] border-b-[2px] w-3 h-3 md:w-5 md:h-5 border-red-600"
      [ngClass]="{'!border-yellow-400' : darkTheme}"></div>
  </div>
</div>

<style>
  p {
  margin: 0;
}
</style>
