<div id="languages"
class="observed-sections target md:mt-40 bg-[#ecedef] flex p-2 md:p-0 md:py-10 flex-col justify-center w-full items-center relative sm:h-full gap-5 transition-all duration-200"
[ngClass]="{'dark' : darkTheme}">
<div class="flex md:mt-0 w-full items-center justify-center mt-5">
      <h1
        class="rounded-lg text-center p-1 font-bold text-[20px] md:text-[30px]">
        Languages</h1>
  </div>
<div
  class="w-full md:w-4/5 md:p-5 gap-5 grid grid-flow-row grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
  <div *ngFor="let language of languagesArray"
    class="flex p-5 border-[1px] hover:border-red-700 transition-all border-black duration-300 flex-col items-center space-y-2" [ngClass]="{'!border-white' : darkTheme, 'hover:!border-yellow-400' : darkTheme}">
    <h1 class="font-bold text-red-700" [ngClass]="{'!text-yellow-400' : darkTheme}">{{ language.name }}</h1>
    <div role="progressbar" [style]="{
      'width': '15rem',
      'height': '15rem',
      'border-radius': '50%',
      'display': 'grid',
      'place-items': 'center',
      'background': 'radial-gradient(closest-side, ' + (darkTheme ? 'black' : 'white') + ' 95%, transparent 0 99.9%, rgb(31, 30, 30) 0), conic-gradient(' + (darkTheme ? 'yellow' : 'red') + ' calc(' + language.value + ' * 1%), rgb(46, 46, 46) 0)',
      'font-family': 'Helvetica, Arial, sans-serif',
      'font-size': '3rem',
      'color': darkTheme ? 'yellow' : 'red'
    }">
    {{ language.value }}%
  </div>
</div>
</div>

<style scoped>
  div[role="progressbar"] {
    --size: 15rem;
    --fg: var(--progColor);
    --bg: rgb(46, 46, 46);
    --pgPercentage: var(--value);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
      radial-gradient(closest-side, var(--back) 95%, transparent 0 99.9%, rgb(31, 30, 30) 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
 
  
  @media (max-width: 500px) {
    div[role="progressbar"] {
      --size: 6rem;
    }
  }
  </style>