@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
  color: white;
  background-color: black;
}
html, body { 
  height: 100%; 
  scroll-behavior: smooth;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p {
  margin: 0;
}

@layer components {
  .filter-selected-elements-remove {
    @apply border-r-[1px] border-y-[1px] rounded-r-md p-1 cursor-pointer border-black transition-all duration-300 hover:bg-red-500
  }

  .projects-buttons {
    @apply border-[1px] border-red-700 rounded-lg min-w-[150px] p-1 transition-all duration-300 hover:bg-red-700 hover:text-white 
  }

}
